/* Custom properties/variables  */
:root {
	--main-Isabelline: linear-gradient(to right, #434343 0%, black 100%);
	--main-Medium-jungle-green: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	--main-Dark-slate-gray: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
	--main-Cadet: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  }
  
  /* Base reset */
  * {
	margin: 0;
	padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  html {
	box-sizing: border-box;
  
	/* Set font size for easy rem calculations
	 * default document font size = 16px, 1rem = 16px, 100% = 16px
	 * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
	*/
	font-size: 62.5%;
	scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
	html {
	  font-size: 60%;
	}
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
	html {
	  font-size: 58%;
	}
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
	html {
	  font-size: 55%;
	}
  }
  
  /* Base styles */
  
  body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem; /* 18px */
	font-weight: 400;
	line-height: 1.4;
	color: var(--main-Isabelline);
  }
  
  h1,
  h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
  }
  
  h1 {
	font-size: 6rem;
  }
  
  h2 {
	font-size: 4.2rem;
  }
  
  ul {
	list-style: none;
  }
  
  a {
	text-decoration: none;
	color: var(--main-Isabelline);
  }
  
  img {
	display: block;
	width: 100%;
  }
  
  /* nav */
  
  .nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--main-Medium-jungle-green);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	z-index: 10;
  }
  
  .nav-list {
	display: flex;
	margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
	.nav {
	  justify-content: center;
	}
  
	.nav-list {
	  margin: 0 1rem;
	}
  }
  
  .nav-list a {
	display: block;
	font-size: 2.2rem;
	padding: 2rem;
  }
  
  .nav-list a:hover {
	background: var(--main-Dark-slate-gray);
  }
  
  /* Welcome section */
  
  .welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
		/* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
  }
  
  .welcome-section > p {
	font-size: 3rem;
	font-weight: 200;
	font-style: italic;
	color: aqua;
  }
  
  /* Projects section */
  
  .projects-section {
	text-align: center;
	padding: 10rem 2rem;
	background: var(--main-Dark-slate-gray);
  }
  
  .projects-section-header {
	max-width: 640px;
	margin: 0 auto 6rem auto;
	border-bottom: 0.2rem solid var(--main-Isabelline);
  }
  
  @media (max-width: 28.75em) {
	.projects-section-header {
	  font-size: 4rem;
	}
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
	.projects-section {
	  padding: 6rem 1rem;
	}
  
	.projects-grid {
	  grid-template-columns: 1fr;
	}
  }
  
  .project {
	background: var(--main-Cadet);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
  }
  
  .code {
	color: var(--main-Cadet);
	transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
	color: #ff7f50;
  }
  
  .project-image {
	height: calc(100% - 6.8rem);
	width: 100%;
	object-fit: cover;
  }
  
  .project-title {
	font-size: 2rem;
	padding: 2rem 0.5rem;
  }

  .btn {
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 2px;
  }
  
  .btn-show-all {
	font-size: 2rem;
	background: var(--main-Cadet);
	transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
	background: var(--main-Medium-jungle-green);
  }
  
  .btn-show-all:hover > i {
	transform: translateX(2px);
  }
  
  .btn-show-all > i {
	margin-left: 10px;
	transform: translateX(0);
	transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80vh;
	padding: 0 2rem;
	background: var(--main-Cadet);
  }
  
  .contact-section-header > h2 {
	font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
	.contact-section-header > h2 {
	  font-size: 4rem;
	}
  }
  
  .contact-section-header > p {
	font-style: italic;
  }
  
  .contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 980px;
	margin-top: 4rem;
	flex-wrap: wrap;
  }
  
  .contact-details {
	font-size: 2.4rem;
	text-shadow: 2px 2px 1px #1f1f1f;
	transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
	transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
	font-weight: 300;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	background: var(--main-Cadet);
	border-top: 4px solid var(--main-Medium-jungle-green);
  }
  
  footer > p {
	margin: 2rem;
  }
  
  footer i {
	vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
	footer {
	  flex-direction: column;
	  text-align: center;
	}
  }
  

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}